


.navbar {
    overflow: hidden;
    background-color:green;
}
.carousel-item img {
    height: 33rem;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:4px 8px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

header {
    background-color:green;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 0.08rem;
    background-color:#f9f9f9;
}

label {
    display: block;
    margin-bottom: 1rem;
}
.phone-symbol{
    background-color: green;
    
    align-items:flex-end;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

#head{
    padding-left: 5rem;
}
#contact-form{
    padding-left: 5rem;
    padding-right: 5rem;
}

button {
    background-color:rgb(36, 170, 214);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:green;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.container, .container-sm {
    max-width: 5000px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-left: 0.1in;
    padding-right: 0.1in;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
img, svg {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.w-100 {
    width: 100%;
}

.d-block {
    display: block;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}


button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.carousel-control-next {
    right: 0;
}
.like{
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #ffffff;
}

.dislike{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}
.about us{
    margin: 200cm;
}
#roboeat{
    background-color: green;
}